<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Book Name</th>
        <th scope="col">Book Code</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Broken Glass</td>
        <td>240</td>
        <td>Alain Mabanckou</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>A Little Life</td>
        <td>410</td>
        <td>Hanya Yanagihara</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry the Bird</td>
        <td>241</td>
        <td>J K </td>
      </tr>
    </tbody>
  </table>