<h1> Book Details</h1>
<div>
    
        <p>TWINKLE-<span><br>Tinkle is an Indian fortnightly magazine for children in English, published from Mumbai. Originally owned by the India Book House, the Tinkle brand was acquired by ACK Media in 2007</span>
        <br>
        <br>

        CHETAN BHAGAT-<span><br> Chetan Bhagat is an Indian author, columnist and YouTuber. He was included in Time magazine's list of World's 100 Most Influential People in 2010. Five of his novels have been adapted into films</span>
            <br>
            <br>

        <br>
        THE MAN-<span><br>2018, to celebrate the 50th anniversary, the Golden Man Booker was awarded. One book from each decade was selected by a panel of judges</span>
            <br>
            <br>

        <br>
        Happy Life-<span> <br>    It's the feeling of truly enjoying your life, and the desire to make the very best of it. Happiness is the "secret sauce" that can help us be and do our best. Here's what researchers found when they studied happy peopl</span></p>
</div>

